body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('imagens/fundo.jpg');
    background-size: cover;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 90%;
}

.card img {
    max-width: 150px;
    margin-right: 20px;
    border-radius: 10px;
}

.card-content {
    text-align: left;
}

.card-content h1 {
    font-size: 2em;
    color: #d32f2f;
    display:flex;
    align-items:flex-end;
    top: 145px;
    right: 20px;
    justify-content: center;
}

.card-content h1 img {
    margin-right: 30px;
}

.card-content p {
    margin-top: 10px;
    line-height: 1.6;
    color: #333;
    justify-items: center;
}

